body {
  margin-top: 80;
  background-color: #5abee2;
  /* background-image: url('https://images.unsplash.com/photo-1536420124392-79a70082fbe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'); */
  /* background-image: url('https://i.kym-cdn.com/photos/images/original/000/259/985/842.jpg'); */
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

margin: 0;
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 5px;
  line-height: 1;
}

p {
  margin: 0;
  padding: 5px;
  line-height: 1;
  font-size: 13px;
}

a {
  color: #376678;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #213841;
  text-decoration: none;
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  color: white;
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  /* padding-right: 20px; */
  height: 60px;
  /* text-align: right; */
  margin-bottom: 40px;
}

.nav-link {
  color: white;
  font-weight: 400;
  margin-top: 16px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.homepage-return {
  margin-bottom: 20px;
  font-size: 18px;
}

.nav-link:hover {
  color: #376678;
  cursor: pointer;
}

.nav-buttons {
  text-align: left;
  float: left;
}

.nav-avatar {
  float: right;
  padding-right: 20px;
  justify-content: center;
  text-align: center;
}


.avatar {
  width: 70px;
  height: 70px;
  /* margin-top: 12px; */
  /* margin-right: 0; */
  text-align: right;
  border: 0;
  border-radius: 50%;
  /* background-color: #5abee2; */
}

.avatar-name {
  text-align: right;
}


/* LOG IN FORM */

.login-card {
  background-color: #ffffff;
  margin: auto;
  margin-top: 100px;
  width: 360px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.input-field {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.errors {
  text-align: center;
  font-size: 15px;
  color: crimson;
  margin: 0;
}


/*  BUTTONS  */

.button {
  color: white;
  background-color: black;
  /* width: 98%; */
  width: 100px;
  margin-top: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
}

.button:hover {
  background-color: #376678;
  cursor: pointer;
}

/*  HOME PAGE */

.home-page {
  /* background-color: #f3f3f3;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 20px;
  width: 85%;
  border: 0px solid;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.greeting {
  text-align: center;
}

.subheading {
  padding-top: 20px;
  text-align: center;
}

/* CREATE USER CARD */

.create-user-card {
  background-color: #ffffff;
  margin: auto;
  margin-top: 100px;
  width: 360px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.create-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.create-input-field {
  width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.create-big-input-field {
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.create-input-field:hover,
.create-input-field:active,
.create-input-field:focus,
.create-input-field:focus-visible,
.create-input-field:focus-within {
  border-color: #0a333d;
}

.back-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}

.edit-icon {
  text-align: right;
  padding-left: 30px;
  font-size: 18px;
}

.edit-icon:hover {
  color: #0a333d;
  font-size: 22px;
  cursor: pointer;
}

.delete-icon {
  text-align: right;
  padding-left: 14px;
  font-size: 18px;
}

.delete-icon:hover {
  color: #213841;
  font-size: 22px;
  cursor: pointer;
}

.ads {
  background-color: #FFFFFF;
  min-width: 250px;
  max-width: 200px;
  height: 50%;
  /* border: 4px solid #4F4F4F; */
  box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px;
  text-align: center;
  margin: 60px;
  font-family: playfair display;
  padding: 0;
}

.ad-card {
  margin-left: 50px;
  flex-direction: column;
  word-break: break-word;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10;
  border-radius: 5px;
  background-color: #ffffff;
}

img {
  max-width: 500px;
  max-height: 300px;
}

.ad-styling {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.ad-img {
  max-width: 200px;
  max-height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.ad-intro {
  margin-top: 15px;
  text-align: center;
}

.message-at-logout {
  text-align: center;
}

.ad-at-logout {
  text-align: center;
}

.create-btl-link {
  font-size: 18px;
  text-align: center;
  padding-top: 14px;
  color: rgb(11, 8, 17);
}

.create-acc-link {
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
  color: rgb(11, 8, 17);
}

.comment-text {
  font-size: 14px;
}

.site-title {
  color: #5abee2;
  font-size: 60px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.real-site-title {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.title-div {
  margin-right: 30px;
}

.post-styling {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.center-stuff {
  text-align: center;
  justify-content: center;
}

.follower-info {
  font-size: 20px;
}

.company-name {
  text-align: center
}